Soumya Khanna PRN: 25070123111
EXP: 01

In [ ]:
x,y,z="apple","cherry","orange"
print(x,y,z,sep="\n")

apple
cherry
orange

In [ ]:
a,b,w,z=2,2.5,"soumya",True
print(type(a),type(b),type(w),type(z),sep="\n")

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
a=10
b=5
print("sum=", a+b)
print("sub=", a-b)
print("mul=", a*b)
print("div=", a/b)
print("exp=", a**b)

sum= 15
sub= 5
mul= 50
div= 2.0
exp= 100000

In [ ]:
a,b= 12,8
print(a+b, a-b, a*b, a/b, a**b,sep="\n")

20
4
96
1.5
429981696

In [ ]:
a=int(input("enter the value of a="))
b=int(input("enter the value of b="))
print("sum=",a+b,"\n", "sub=",a-b,"\n", "mul=", a*b,"\n", "div=", a/b,"\n", "exp=", a**b,"\n")

enter the value of a=10
enter the value of b=20
sum= 30
 sub= -10
 mul= 200
 div= 0.5
 exp= 100000000000000000000

In [ ]:
a=int(input("enter the value of a="))
b=int(input("enter the value of b="))
print("sum=",a+b, "sub=",a-b, "mul=", a*b, "div=", a/b, "exp=", a**b,sep="\n")

enter the value of a=20
enter the value of b=10
sum=
30
sub=
10
mul=
200
div=
2.0
exp=
10240000000000

In [ ]:
#To find out the area of circle.
import math
r=float(input("value of r="))
area = math.pi*float(r)**2
print(area)

value of r=10
314.1592653589793

In [ ]:
#Calculate the value of log
import math
math.log10(10)

1.0

In [ ]:
a,b=10,5
if a>b:
  print("b is less than a")
  else:
    print("b is greater than a")